<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/chart")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-ruuvi fixed-top">
        <a class="navbar-brand" href="#">
            <img src="~/SVG/logo-ruuvi-network.svg" width="135" height="28" alt="Ruuvi logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Add RuuviTag</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://shop.ruuvi.com/product/ruuvitag-1-pack/" target="blank">Get a new RuuviTag</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Groups</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto float-right">
                <li class="nav-item">
                    <a class="nav-link" href="#">App settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <a class="btn btn-general" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    }
                }
            </ul>
        </div>
    </nav>

    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer class="footer-ruuvi text-center">
                <div class="footer-ruuvi-logo">
                    <img src="~/Images/web-ruuvi-logo-nega.png" width="130" height="25" alt="Ruuvi logo">
                </div>
                <div class="footer-ruuvi-copyrights">
                    <p>RUUVI INNOVATIONS LTD (OY) / FINLAND</p>
                </div>
            </footer>
        </div>*@

    @RenderBody()
    <hr />
    <div class="container body-content">
        <footer class="footer-ruuvi text-center">
            <div class="footer-ruuvi-logo">
                <img src="~/Images/web-ruuvi-logo-nega.png" width="130" height="25" alt="Ruuvi logo">
            </div>
            <div class="footer-ruuvi-copyrights">
                <p>RUUVI INNOVATIONS LTD (OY) / FINLAND</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
