@model RuuviTagApp.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security;

@{
    var g = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes().First();
}

@using (Html.BeginForm("ExternalLogin", "Account"))
{
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-general btn-block-mobile" id="@g.AuthenticationType" name="provider" value="@g.AuthenticationType" title="Sign in using your @g.Caption account">Authenticate with @g.AuthenticationType</button>
}
<p class="mt-2">You can sign in using a Google Account. By signing in you can save and display your favourite RuuviTags. <a class="help-link" onclick="toggleHelpSlider()" href="#trouble-signingin">Need help?</a></p>
