@using Microsoft.AspNet.Identity;
@model RuuviTagApp.ViewModels.MacAddressModel

<div class="modal" id="addTagModal">
    <div class="modal-dialog">
        <div class="modal-content modal-ruuvi">
            <div class="modal-header modal-ruuvi-header">
                <h2>Add a new RuuviTag</h2>
                <button type="button" class="ruuvi-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddTag", "Home", FormMethod.Post, new { @id = "addTagForm" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <p>Use the form below to add a new tag to your collection.</p>
                        <label for="tagId">RuuviTag ID <a class="help-link" href="/Home/Help/#ruuvitag-id" target="blank">Need help?</a> </label>
                        @Html.EditorFor(model => model.MacAddress, new { htmlAttributes = new { @class = "form-control", required = true } })
                        <small id="tagIdHelp" class="form-text text-muted">RuuviTag ID is same as its MAC address.</small>
                        <small id="tagIdFormInfo" class="form-text text-muted">Please enter the ID with or without colons or spaces.</small>
                        @Html.ValidationMessageFor(model => model.MacAddress, "", new { @class = "text-danger" })
                        <h4 class="mt-5">Read and display the data from your RuuviTag</h4>
                        <p>Once you add a RuuviTag to your collection, you can instantly view the data it has collected without having to search it manually.</p>
                    </div>
                }
            </div>
            <div class="modal-footer modal-ruuvi-footer">
                <button class="btn btn-general float-right" form="addTagForm" type="submit">Add</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
