@model RuuviTagApp.ViewModels.AddTagToListModel


<div class="container">
    <div class="row">
        <div class="col-6">
            <h6>Add this tag to a group?</h6>
            <div class="dropdown">
                <button class="btn btn-tagdropdown dropdown-toggle" type="button" id="UserGroupsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="~/SVG/web-ruuvi-eye-nega.svg" width="28" height="28" alt="Ruuvi logo">
                    Groups
                </button>
                <div class="dropdown-menu dropdown-menu-ruuvi" aria-labelledby="UserGroupsDropdown" id="selectGroupForTag">
                    @foreach (RuuviTagApp.Models.UserTagListModel group in ViewBag.UserGroups)
                    {
                        <a class="dropdown-item dropdown-item-ruuvi" onclick="setGroupId(this)" id="@group.UserTagListId">@group.ListName</a>
                    }
                </div>
            </div>
        </div>
        <div class="col-6">
            <div id="addToGroupSubmitDiv" style="display:none;">
                <h6 id="textForTagToGroup"></h6>
                @using (Html.BeginForm("AddTagToList", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.ListsId)
                    @Html.HiddenFor(model => model.TagsId)
                    <button type="submit" class="btn btn-general">Add</button>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
