<div class="container-fluid pl-0">
    <nav class="navbar navbar-ruuvitag navbar-expand">
        <div class="collapse navbar-collapse" id="tag-nav">
            <ul class="navbar-nav mr-auto navbar-ruuvitag-nav">
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-tagdropdown dropdown-toggle btn-sm" type="button" id="tagMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Choose RuuviTag">
                            <img src="~/SVG/web-ruuvi-eye-nega.svg" width="28" height="28" alt="Ruuvi logo">

                        </button>
                        <div class="dropdown-menu dropdown-menu-ruuvi" id="TagListDropDown" aria-labelledby="dropdownMenuButton">
                            <h6 class="dropdown-header dropdown-header-ruuvi">RuuviTags</h6>
                            @foreach (var tag in ViewBag.UserTagsList)
                            {
                                <a class="dropdown-item dropdown-item-ruuvi dropdown-item-ruuvitag" onclick="setSelectedTagId('@tag.TagId', '@(tag.TagName ?? tag.TagMacAddress)')">@(tag.TagName ?? tag.TagMacAddress)</a>
                            }
                            @if (ViewBag.UserTagsListError != null)
                            {
                                <a class="dropdown-item dropdown-item-ruuvi disabled" href="#">@ViewBag.UserTagsListError</a>
                            }
                            @*<div class="dropdown-divider-ruuvi"></div>*@
                            @if (ViewBag.UserGroups != null || ViewBag.UserGroups.Count == 0)
                            {
                                <h6 class="dropdown-header dropdown-header-ruuvi">Groups</h6>
                                foreach (var group in ViewBag.UserGroups)
                                {
                                    <a class="dropdown-item dropdown-item-ruuvi" onclick="setSelectedGroupId('@group.UserTagListId', '@group.ListName')">@group.ListName</a>
                                }
                            }
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link svg-btn-settings disabled" id="btn-tagSettings" title="Tag settings"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link svg-btn-alert disabled" id="btn-tagAlerts" data-toggle="modal" data-target="#tagAlertsModal" title="Manage alerts"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link svg-btn-new" id="btn-addNewTag" data-toggle="modal" data-target="#addTagModal" title="Add new RuuviTag"></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto navbar-ruuvitag-nav">
                <li class="nav-item">
                    <div class="btn-group dropleft">

                        <div class="dropdown">
                            <button class="btn btn-tagdropdown dropdown-toggle btn-sm" type="button" id="IntervalDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="~/SVG/web-ruuvi-eye-nega.svg" width="28" height="28" alt="Ruuvi logo">

                            </button>
                            <div class="dropdown-menu dropdown-menu-ruuvi" aria-labelledby="IntervalDropdown" id="selectInterval">
                                <a class="dropdown-item dropdown-item-ruuvi" onclick="setDataInterval(this)" data-interval="0">5 minutes</a>
                                <a class="dropdown-item dropdown-item-ruuvi" onclick="setDataInterval(this)" data-interval="1">15 minutes</a>
                                <a class="dropdown-item dropdown-item-ruuvi" onclick="setDataInterval(this)" data-interval="2">30 minutes</a>
                                <a class="dropdown-item dropdown-item-ruuvi" onclick="setDataInterval(this)" data-interval="3">1 hour</a>
                                <a class="dropdown-item dropdown-item-ruuvi" onclick="setDataInterval(this)" data-interval="4">2 hours</a>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<script>
    // Highlight Add new Ruuvitag
    function highlightPlus() {
        let plus = document.getElementById("btn-addNewTag");
        plus.classList.add("highlight");
        var t = setTimeout(function () {
            plus.classList.remove("highlight");
        }, 1000);
    }
</script>

@if (ViewBag.UserTagsListError != null) // If user hasn't added any tags, highlight Add button
{
    <script>
        let dropDownBtn = document.getElementById("tagMenuButton");
        dropDownBtn.setAttribute("onclick", "highlightPlus()");
        highlightPlus();
    </script>
}