@model IEnumerable<RuuviTagApp.Models.UserTagListModel>
@using RuuviTagApp.ViewModels
@{
    ViewBag.Title = "RuuviTag groups";
    @Html.Partial("~/Views/Home/_GroupNav.cshtml")
    //ListNameModel addList = Model is ListNameModel ? Model : new ListNameModel();
    @Html.Partial("~/Views/Home/_AddGroupModal.cshtml", new NewTagListModel())
}

<div class="container body-content" id="body-content">
    <div class="row" id="userGroups">
        @foreach (var item in Model)
        {
            <div class="col-lg-4">
                <div class="card card-ruuvi text-center">
                    <div class="card-body">
                        <h5 class="card-title-ruuvi"><a href="#" id="@item.ListName" onclick="hideUserGroups(this.id)">@item.ListName</a></h5>
                        <p>@item.TagListRowModels.Count RuuviTags</p>
                        @foreach (var tagRow in item.TagListRowModels)
                        {
                            if(ViewBag.UsersTags.TryGetValue(tagRow.TagId, out RuuviTagApp.Models.RuuviTagModel tag))
                            {
                                <p>@(tag.TagName ?? tag.TagMacAddress)</p>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        let addedTagsHeader = document.getElementById("addedTagsHeader");
        addedTagsHeader.style.display = "none";

        $('#addATagToList').click(() => {
            const userTagList = document.getElementById('selectTagToList');
            const addedTags = document.getElementById('addedTags');

            let idx = userTagList.selectedIndex;
            let selected = userTagList.options[idx];
            if (idx < 0) {
                return;
            }
            userTagList.options[idx].remove();

            let oldVal = $('#IdsAsString').val();
            //console.log(oldVal);
            $('#IdsAsString').val(`${oldVal};${selected.value}`);
            let listNode = document.createElement('li');
            let textNode = document.createTextNode(selected.text);
            listNode.appendChild(textNode);
            addedTags.appendChild(listNode);

            // Displaying header only when there are items in the list
            if (addedTagsHeader.style.display == "none") {
                addedTagsHeader.style.display = "block";
            }

        });
    </script>
}
