@model RuuviTagApp.Models.ExternalLoginListViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Home Page";
    if (Request.IsAuthenticated)
    {
        ViewBag.Msg = $"Hello {User.Identity.GetUserName()}!";
    }
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        <p>@ViewBag.Msg</p>
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <a class="btn btn-sm btn-default" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        }
        @Html.Partial("_ExternalLoginPartial", new RuuviTagApp.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </div>*@

@* Content visible only when user is not logged in *@
@if (!Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-6">
            <h2>Log in using Google</h2>
            <p>@ViewBag.Msg</p>
            @Html.Partial("_ExternalLoginPartial", new RuuviTagApp.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </div>
        <div class="col-md-6 mt-lg-0 mt-5">
            <h2>Continue without logging in</h2>
            <div class="form-group">
                <label for="tagId">RuuviTag ID</label>
                <input type="text" class="form-control" id="tagId" aria-describedby="tagIdHelp" placeholder="Enter RuuviTag ID">
                <small id="tagIdHelp" class="form-text text-muted">RuuviTag ID is same as its MAC address.</small>
            </div>
            <button type="button" class="btn btn-general">Search</button>
            @*<p class="mt-2">Get RuuviTag data by using the search form above. Please note that without logging ... </p>*@
        </div>
    </div>
} @*End of content visible only when user is not logged in*@

@* Content visible only when user is logged in *@
@if (Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-6">
            <h2>Header</h2>
            <p>User is logged in.</p>
        </div>
        <div class="col-md-6 mt-lg-0 mt-5">
            <h2>Header</h2>
            <p>User is logged in.</p>
        </div>
    </div>
} @*End of content visible only when user is logged in*@