@using Microsoft.AspNet.Identity;
@using RuuviTagApp.Models;
@using RuuviTagApp.ViewModels;
@{
    ViewBag.Title = "Home Page";
    if (Request.IsAuthenticated)
    {
        ViewBag.Msg = $"Hello {User.Identity.GetUserName()}!";
    }
}

@{
    MacAddressModel mam = Model is MacAddressModel ? Model : new MacAddressModel();
}

@* Tag navbar visible only when user is logged in *@
@if (Request.IsAuthenticated)
{
    <div class="container-fluid pl-0">
        <nav class="navbar navbar-ruuvitag navbar-expand">
            <div class="collapse navbar-collapse" id="tag-nav">
                <ul class="navbar-nav mr-auto navbar-ruuvitag-nav">
                    <div class="dropdown">
                        <button class="btn btn-tagdropdown dropdown-toggle" type="button" id="tagMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Choose RuuviTag">
                            <img src="~/SVG/web-ruuvi-eye-nega.svg" width="32" height="32" alt="Ruuvi logo">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Example Tag name 1</a>
                            <a class="dropdown-item" href="#">Example Tag name 2</a>
                            <a class="dropdown-item" href="#">Example Tag name 3</a>
                        </div>
                    </div>
                    <li class="nav-item active">
                        <a class="nav-link svg-btn-settings" href="#settings"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link svg-btn-alert" href="#alert"></a>
                    </li>
                    <li id="addTag" class="nav-item">
                        <ul class="navbar-nav mr-auto navbar-ruuvitag-nav">
                            <li class="nav-item">
                                @Html.Partial("~/Views/Home/_AddTagPartial.cshtml", new MacAddressModel())
                            </li>
                            <li class="nav-item">
                                <div id="addTagBtn">
                                    <button class="btn btn-general" data-container="body" data-toggle="popover" data-placement="bottom" data-content="RuuviTag ID is same as its MAC address. Please enter the ID with or without colons or spaces.">i</button>
                                    <button class="btn btn-general" name="userID" value="@User.Identity.GetUserId()" form="addTagForm" type="submit">Search</button>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link svg-btn-new" href="#new"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
} @*End of tag navbar*@

<div class="container body-content">
    @* Content visible only when user is not logged in *@
    @if (!Request.IsAuthenticated)
    {
        <div class="row">
            <div class="col-md-6">
                <h2>Log in using Google</h2>
                @Html.Partial("~/Views/Account/_ExternalLoginPartial.cshtml", new ExternalLoginListViewModel())
            </div>
            <div class="col-md-6 mt-lg-0 mt-5">
                <h2>Continue without logging in</h2>
                <div class="form-group">
                    @Html.Partial("~/Views/Home/MacAddress.cshtml", mam)
                </div>
                @*<p class="mt-2">Get RuuviTag data by using the search form above. Please note that without logging ... </p>*@
            </div>
        </div>
        ExternalLoginConfirmationViewModel elcvm = Model is ExternalLoginConfirmationViewModel ?
            Model : new ExternalLoginConfirmationViewModel();
        @Html.Partial("~/Views/Account/ExternalLoginConfirmation.cshtml", elcvm)
    } @*End of content visible only when user is not logged in*@

    @* Content visible only when user is logged in *@
    @if (Request.IsAuthenticated)
    {
        <div class="row">
            <div class="col-md-6">
                <h2>Header</h2>
                <p>User is logged in.</p>
            </div>
            <div class="col-md-6 mt-lg-0 mt-5">
                <h2>Header</h2>
                <p>User is logged in.</p>
            </div>
        </div>
    } @*End of content visible only when user is logged in*@
</div>

@section scripts{
    <script type="text/javascript">
        $(window).on('load', function () {
            let renderRegisterModal = @((ViewBag.RenderRegisterModal ?? false).ToString().ToLower());
            if (renderRegisterModal) {
                $('#externalRegisterModal').modal('show');
            }
            let showAddTag = @((ViewBag.ShowAddTag ?? false).ToString().ToLower());
            if (showAddTag) {
                $('#addTag').toggleClass('shown');
            }
        });
        $('.svg-btn-new').click(function () {
            $('#addTag').toggleClass('shown');
        });
        $(function () {
            $('[data-toggle="popover"]').popover()
        });
    </script>
}
